section.twitch-head
  h1 Twitch.tv Streams
  ul
    li.all-button All
    li.online-button#online-button  Online
    li.offline-button#offline-button  Offline
   
   //trying to figure out how to get the element without ID
section.twitch-streams#twitch-streams
